ul.nav a:hover {
  color: #fff;
}

a {
  color: gray;
  text-decoration: none;
  outline: none;
}

.color-preview {
   border-radius:20px;
   border-width:2px;
   border-color:#555;
   border-style: outset;
}

.image-box {
   border-width:2px; border-radius:20px;
   border-style:outset; 
   overflow:hidden;
   height:150px
}
