.image-box {
   border-width:2px; border-radius:20px;
   border-style:outset;
   overflow:hidden;
   height:75px
}

.delete-btn {
  background-color:transparent;
}

.delete-icon {
  width:25px;
  height:25px;
}

.clear-cart-icon {
  width:35px;
  height:35px;
}

.buy-btn {
  border-style:solid;
  border-width:3px;
  border-color:#069;
}

.warning-icon {
  width: 30px;
  height: 30px;
}
