.color-box [type='radio'] {
  display: none;
}

.color-box .color-preview {
  border-radius:20px;
  border-width:2px;
  border-color:#555;
  border-style: outset;
}

#product-thumbnail{
  background-image:url('');
  background-size:cover;
  background-position: center;
  height: 200px; width: 200px;
  border: 1px solid #bbb;
  position:relative;
  border-radius:50px;
  overflow:hidden;
  background-color: #FFF;
}

#product-thumbnail:hover input.upload{
  display:block;
}

#product-thumbnail:hover .hvr-profile-img{
  display:inline-block;
 }

#product-thumbnail .fa{
  margin: auto;
  position: absolute;
  bottom: -4px;
  left: 0;
  text-align: center;
  right: 0;
  padding: 6px;
  opacity:1;
  transition:opacity 1s linear;
  -webkit-transform: scale(1);
}

#product-thumbnail:hover .fa{
  opacity:1;
  -webkit-transform: scale(1.2);
}

#product-thumbnail input.upload {
  z-index:1;
  left: 0;
  margin: 0;
  bottom: 0;
  top: 0;
  padding: 0;
  opacity: 0;
  outline: none;
  cursor: pointer;
  position: absolute;
  background:#ccc;
  width:100%;
  display:none;
}

#product-thumbnail .hvr-profile-img {
  width:100%;
  height:100%;
  display: none;
  position:absolute;
  vertical-align: middle;
  position: relative;
  background: transparent;
 }

#product-thumbnail .fa:after {
  content: "";
  position:absolute;
  bottom:0; left:0;
  width:100%; height:0px;
  background:rgba(0,0,0,0.3);
  z-index:-1;
  transition: height 0.3s;
}

#product-thumbnail:hover .fa:after {
  height:100%;
}
