html {
    overflow-x: hidden;
    height: 100%;
}

body {
    min-height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    padding-top: 60px;
}

body::after {
    content: '';
    display: block;
    height: 100px;
}

#navbar-search-box input {
    border-color: white
}

#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: #0275d8;
    font-size: 12px;
    font-style: italic;
    text-align: center;
    color: white;
}
