a,
a:hover {
    color: inherit;
    text-decoration: none;
    outline: none;
}

.product-card {
  border-width:3px;
  border-radius:49px;
  border-color:#333;
  border-style:outset;
}

.product-card img {
  height:230px;
  border-radius: 45px 45px 0px 0px;
}

.product-card .text-box {
  border-radius: 0px 0px 45px 45px
}

.card-header {
  background-color: #06A;
}
