.product-image{
  background-size:cover;
  background-position: center;
  border: 1px solid #bbb;
  width: 100%; height: 100%;
  max-width: 300px; max-height: 300px;
  position:relative;
  border-radius:50px;
  overflow:hidden;
}

.color-box {
  width: 20px;
  height: 20px;
  border-radius: 10px;
}

.delivery-icon {
   width:50px;
   height:50px;
}

.gender-icon {
    width:20px;
    height:20px;
}
